<div class="container-fluid CommandArea"> 
  <div class="row Header">
    <h1>Welcome to control panel</h1>
  </div>
  <div class="row CommandButtonsArea">
    <div class="ClickableCommand" (click)="select('Users')">
      Users
    </div>
    <div class="ClickableCommand" (click)="select('Agents')">
      Agents
    </div>
    <div class="ClickableCommand" (click)="select('Comments')">
      Comments
    </div>
    <div class="ClickableCommand" (click)="select('Attributes')">
      Attributes
    </div>
  </div>
</div>