<div class="container-fluid CommandArea"> 
  <div class="row Header">
    <h1>Comments Control Panel</h1>
  </div>

  <div class="CommentSection">
    <div class="container-fluid Comment" *ngFor="let comment of commentList">

      <div class="row MiniInfo">
        <div class="col-5 MiniInfo">
          From: {{comment.username}}
        </div>
        <div class="col-6 MiniInfo">
          Reservation: {{comment.reservationName}}
        </div>
      </div>

      <div class="row Text">
        {{comment.text}}
      </div>

      <div class="row Buttons">
        <div class="col-6">
          <button class="btn btn-danger Button" (click)="decline(comment)">Decline</button>
        </div>
        <div class="col-6 Button">
          <button class="btn btn-success Button" (click)="approve(comment)">Approve</button>
        </div>
      </div>

    </div>
    <br/>
  </div>
</div>